body {
    background-image: url(/images/2tim3-16.jpg);
    background-size: cover;
}

.fbp_title {
    background-color: white;
    border: 2px black solid;
    font-size: 3em;
    height: 3em;
    line-height: 1em;
    margin: 1em;
    padding: .5em 1em;
    width: max-content;
}

.main_footer {
    background-color: #1878a9;
    bottom: 0;
    color: white;
    font-size: small;
    height: 2em;
    opacity: 0.9;
    position: fixed;
    text-align: center;
    width: 100%;
}