<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prayer Time | FBP</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/prayer.css">
</head>
<body>
    <header class="header">
        <div class="login">
            <input id="email" type="email">
            <input id="password" type="password">
            <button>Login</button>
        </div>
        <div class="search">
            <input id="search_text">
            <button id="do_search">Search</button>
        </div>
        <div class="signup">
            <button id="signup">Sign up</button>
        </div>
    </header>

    <div class="prayer">
        <h1>Guided Prayer Time</h1>
            <h2>Pause</h2>
                <p>Before you begin your prayer time prepare your heart. Pause and take a few deep breaths and exhale slowly</p>
            <h2>Adoration</h2>
                <p>A reminder that the God of the universe has welcomed you into His presence so that you can talk with Him directly</p>
            <h2>Confession</h2>
                <p>Confess your sins to God. Recognize where you've missed the mark</p>
            <h2>Thanksgiving</h2>
                <p>Express your gratitude to the God of all the universe who hears your prayers</p>
            <h2>Supplication</h2>
                <p>Come to God with your requests and pettitions</p>
                <h3>Daily Prayer List</h3>
                    <p>All items from your Daily Prayer List</p>
                <h3>Additional Prayers</h3>
                    <p>A random set of items from your additional prayer items</p>
            <h2>Reflect</h2>
                <p>Before you return to your regular activity spend a few minutes reflecting on your prayer time</p>
    </div>

    <footer class="main_footer">
        Copyright (C) 2021 Brian C. Milco
    </footer>
</body>
</html>